In [1]:
import numpy as np
import pandas as pd
df = pd.read_excel("avalanches3.xlsx")
df=df.drop("Inv ID", 1)
df.head()

,inventory,Elevation,Slope,Aspect,Plan Curvature,Profile Curvature,Topographic Wetness Index,Terrain Roughness Index,Topographic Position Index,Proximity to Road,Proximity to Stream,Avarage Wind Speed,Average Min Temperature,Average Max Temperature,Avarage Solar Radiation,Annual Precipitation,Annual Mean Temperature,Lithology,Land Use
0,0,1621.200,55.622459,220.728,-1.004330,-0.051691,2.83937,0.502872,-0.135376,432.6660,170.880,2.01667,0.758333,10.7333,1309,601,5.74583,3,3
1,0,664.191,34.321125,279.399,0.306528,0.088266,3.93710,0.531168,0.030701,40.0000,180.000,1.75833,4.016670,13.9000,1277,958,8.95833,3,3
2,0,842.878,17.923445,305.905,0.836079,0.019673,4.68411,0.477840,0.077515,223.6070,20.000,1.69167,2.933330,12.8667,1267,667,7.90000,3,3
3,0,267.462,3.474140,206.670,3.935770,-0.744161,4.41112,0.318960,0.325012,107.7030,60.000,1.44167,6.558330,15.6333,1255,1023,11.09580,4,1
4,0,848.266,38.291718,341.725,1.485050,1.520450,5.75782,0.455069,-0.072022,56.5685,189.737,1.74167,3.283330,12.9583,1275,740,8.12083,3,3

In [2]:
cats, bins = pd.cut(df.Elevation, 6, retbins=True, )
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Elevation,bins=bins,labels=classes, ordered=False)
df=df.drop(['Elevation'], axis=1)
df.insert(1,'Elevation',category)
print(df["Elevation"].value_counts())
print(bins)

4    1201
3     765
1     689
2     574
5     513
6      20
Name: Elevation, dtype: int64
[ 194.491263  798.3825   1398.672    1998.9615   2599.251    3199.5405
 3799.83    ]

In [3]:
cats, bins = pd.cut(df.Slope, 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Slope,bins=bins,labels=classes, ordered=False)
df=df.drop(['Slope'], axis=1)
df.insert(2,'Slope',category)
print(df["Slope"].value_counts())
print(bins)

3    1621
2     863
1     592
4     566
5     107
6      13
Name: Slope, dtype: int64
[-0.0821886  13.69809977 27.39619954 41.09429932 54.79239909 68.49049886
 82.18859863]

In [4]:
#cats, bins = pd.cut(df.Aspect, 6, retbins=True)
#classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Aspect,bins=[-2,0,22.5,67.5,112.5,157.5,202.5,247.5,292.5,337.5,360+1],labels=[8,0,1,2,3,4,5,6,7,0], ordered=False)
df=df.drop(['Aspect'], axis=1)
df.insert(3,'Aspect',category)
print(df["Aspect"].value_counts())

7    507
6    488
4    480
2    469
1    455
5    449
0    446
3    440
8     28
Name: Aspect, dtype: int64

In [5]:
cats, bins = pd.cut(df['Plan Curvature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Plan Curvature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Plan Curvature'], axis=1)
df.insert(4,'Plan Curvature',category)
print(df["Plan Curvature"].value_counts())
print(bins)

4    3356
3     347
5      26
2      21
6       7
1       5
Name: Plan Curvature, dtype: int64
[-35.6608226  -24.47366667 -13.35323333  -2.2328       8.88763333
  20.00806667  31.1285    ]

In [6]:
cats, bins = pd.cut(df['Profile Curvature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Profile Curvature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Profile Curvature'], axis=1)
df.insert(5,'Profile Curvature',category)
print(df["Profile Curvature"].value_counts())
print(bins)

2    2610
3    1130
4      12
1       9
6       1
5       0
Name: Profile Curvature, dtype: int64
[-49.1909757  -24.33008333   0.38253333  25.09515     49.80776667
  74.52038333  99.233     ]

In [7]:
cats, bins = pd.cut(df['Topographic Wetness Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Topographic Wetness Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Topographic Wetness Index'], axis=1)
df.insert(6,'Topographic Wetness Index',category)
print(df["Topographic Wetness Index"].value_counts())
print(bins)

2    2088
3    1181
1     324
4     154
5      14
6       1
Name: Topographic Wetness Index, dtype: int64
[-0.39300705  2.56799417  5.51133533  8.4546765  11.39801767 14.34135883
 17.2847    ]

In [8]:
cats, bins = pd.cut(df['Terrain Roughness Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Terrain Roughness Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Terrain Roughness Index'], axis=1)
df.insert(7,'Terrain Roughness Index',category)
print(df["Terrain Roughness Index"].value_counts())
print(bins)

4    3286
3     296
5     121
1      30
2      15
6      14
Name: Terrain Roughness Index, dtype: int64
[-0.00088791  0.14798433  0.29596867  0.443953    0.59193733  0.73992167
  0.887906  ]

In [9]:
cats, bins = pd.cut(df['Topographic Position Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Topographic Position Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Topographic Position Index'], axis=1)
df.insert(8,'Topographic Position Index',category)
print(df["Topographic Position Index"].value_counts())
print(bins)

4    3349
5     378
3      26
6       8
1       1
2       0
Name: Topographic Position Index, dtype: int64
[-9.25821202 -6.85856333 -4.47322667 -2.08789     0.29744667  2.68278333
  5.06812   ]

In [10]:
cats, bins = pd.cut(df['Proximity to Road'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Proximity to Road'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Proximity to Road'], axis=1)
df.insert(9,'Proximity to Road',category)
print(df["Proximity to Road"].value_counts())
print(bins)

1    2733
2     619
3     268
4     102
5      32
6       8
Name: Proximity to Road, dtype: int64
[  -2.37023     395.03833333  790.07666667 1185.115      1580.15333333
 1975.19166667 2370.23      ]

In [11]:
cats, bins = pd.cut(df['Proximity to Stream'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Proximity to Stream'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Proximity to Stream'], axis=1)
df.insert(10,'Proximity to Stream',category)
print(df["Proximity to Stream"].value_counts())
print(bins)

1    3264
2     445
3      41
4       5
6       5
5       2
Name: Proximity to Stream, dtype: int64
[  -3.00093  500.155   1000.31    1500.465   2000.62    2500.775
 3000.93   ]

In [12]:
cats, bins = pd.cut(df['Avarage Wind Speed'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Avarage Wind Speed'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Avarage Wind Speed'], axis=1)
df.insert(11,'Average Wind Speed',category)
print(df["Average Wind Speed"].value_counts())
print(bins)

1    1436
2    1068
3     898
4     314
5      37
6       9
Name: Average Wind Speed, dtype: int64
[1.40314666 2.27222    3.13611    4.         4.86389    5.72778
 6.59167   ]

In [13]:
cats, bins = pd.cut(df['Average Min Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Average Min Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Average Min Temperature'], axis=1)
df.insert(12,'Average Min Temperature',category)
print(df["Average Min Temperature"].value_counts())
print(bins)

3    1171
2     888
6     629
4     595
5     426
1      53
Name: Average Min Temperature, dtype: int64
[-10.46778333  -7.48611167  -4.52222333  -1.558335     1.40555333
   4.36944167   7.33333   ]

In [14]:
cats, bins = pd.cut(df['Average Max Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Average Max Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Average Max Temperature'], axis=1)
df.insert(13,'Average Max Temperature',category)
print(df["Average Max Temperature"].value_counts())
print(bins)

3    932
6    853
4    822
5    674
2    454
1     27
Name: Average Max Temperature, dtype: int64
[-6.6481333 -2.76945    1.0861     4.94165    8.7972    12.65275
 16.5083   ]

In [15]:
cats, bins = pd.cut(df['Avarage Solar Radiation'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Avarage Solar Radiation'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Avarage Solar Radiation'], axis=1)
df.insert(14,'Average Solar Radiation',category)
print(df["Average Solar Radiation"].value_counts())
print(bins)

4    1104
3     897
1     749
2     571
5     417
6      24
Name: Average Solar Radiation, dtype: int64
[1236.807      1269.16666667 1301.33333333 1333.5        1365.66666667
 1397.83333333 1430.        ]

In [16]:
cats, bins = pd.cut(df['Annual Precipitation'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Annual Precipitation'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Annual Precipitation'], axis=1)
df.insert(15,'Annual Precipitation',category)
print(df["Annual Precipitation"].value_counts())
print(bins)

2    1136
3    1057
4     676
1     595
5     216
6      82
Name: Annual Precipitation, dtype: int64
[ 376.717       591.83333333  805.66666667 1019.5        1233.33333333
 1447.16666667 1661.        ]

In [17]:
cats, bins = pd.cut(df['Annual Mean Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Annual Mean Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Annual Mean Temperature'], axis=1)
df.insert(16,'Annual Mean Temperature',category)
print(df["Annual Mean Temperature"].value_counts())
print(bins)

3    1125
6     731
4     727
2     601
5     551
1      27
Name: Annual Mean Temperature, dtype: int64
[-8.5579375 -5.13125   -1.725      1.68125    5.0875     8.49375
 11.9      ]

In [18]:
df.head()

,inventory,Elevation,Slope,Aspect,Plan Curvature,Profile Curvature,Topographic Wetness Index,Terrain Roughness Index,Topographic Position Index,Proximity to Road,Proximity to Stream,Average Wind Speed,Average Min Temperature,Average Max Temperature,Average Solar Radiation,Annual Precipitation,Annual Mean Temperature,Lithology,Land Use
0,0,3,5,5,4,2,2,4,4,2,1,1,4,5,3,2,5,3,3
1,0,1,3,6,4,2,2,4,4,1,1,1,5,6,2,3,6,3,3
2,0,2,2,7,4,2,2,4,4,1,1,1,5,6,1,2,5,3,3
3,0,1,1,5,4,2,2,3,5,1,1,1,6,6,1,4,6,4,1
4,0,2,3,0,4,3,3,4,4,1,1,1,5,6,2,2,5,3,3

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3762 entries, 0 to 3761
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inventory                   3762 non-null   int64
 1   Elevation                   3762 non-null   category
 2   Slope                       3762 non-null   category
 3   Aspect                      3762 non-null   category
 4   Plan Curvature              3762 non-null   category
 5   Profile Curvature           3762 non-null   category
 6   Topographic Wetness Index   3762 non-null   category
 7   Terrain Roughness Index     3762 non-null   category
 8   Topographic Position Index  3762 non-null   category
 9   Proximity to Road           3762 non-null   category
 10  Proximity to Stream         3762 non-null   category
 11  Average Wind Speed          3762 non-null   category
 12  Average Min Temperature     3762 non-null   category
 13  Average Max Temperature     3762 non-null   category
 14  Average Solar Radiation     3762 non-null   category
 15  Annual Precipitation        3762 non-null   category
 16  Annual Mean Temperature     3762 non-null   category
 17  Lithology                   3762 non-null   int64
 18  Land Use                    3762 non-null   int64
dtypes: category(16), int64(3)
memory usage: 150.7 KB

In [20]:
file_name = 'avalanche_discrete3.xlsx'
df.to_excel(file_name, index=False)