In [1]:
import numpy as np
import pandas as pd
df = pd.read_excel("avalanches.xlsx")
df=df.drop("Inv ID", 1)
df=df.drop("inventory", 1)
df.head()

,Elevation,Slope,Aspect,Plan Curvature,Profile Curvature,Topographic Wetness Index,Terrain Roughness Index,Topographic Position Index,Proximity to Road,Proximity to Stream,Avarage Wind Speed,Average Min Temperature,Average Max Temperature,Avarage Solar Radiation,Annual Precipitation,Annual Mean Temperature,Lithology,Land Use
0,397.661,1.86984,150.3480,-0.696026,-1.696030,5.58877,0.753963,0.170013,0.0000,180.000,1.45833,5.85833,15.683300,1246,856,10.77080,4,1
1,2888.440,8.87478,62.6067,-0.058109,-0.055179,7.81560,0.511951,-0.000488,101.9800,601.664,4.10000,-6.37500,-0.208333,1375,919,-3.29167,2,4
2,2428.890,53.92650,48.9862,0.188772,1.237600,3.83647,0.474788,-0.084961,332.8660,310.483,3.50000,-5.42500,2.208330,1364,776,-1.60833,3,4
3,1426.840,27.44680,346.3760,-0.178917,-0.016808,8.62269,0.517806,-0.015015,89.4427,655.134,2.26667,-0.97500,9.125000,1333,549,4.07500,3,2
4,2734.600,210.92400,328.2510,9.022960,4.153820,1.96191,0.433734,0.495117,452.5480,120.000,3.55833,-4.97500,1.783330,1342,931,-1.59583,3,4

In [2]:
cats, bins = pd.cut(df.Elevation, 6, retbins=True, )
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Elevation,bins=bins,labels=classes, ordered=False)
df=df.drop(['Elevation'], axis=1)
df.insert(0,'Elevation',category)
print(df["Elevation"].value_counts())
print(bins)

4    1622
3     792
5     735
2     318
1     250
6      45
Name: Elevation, dtype: int64
[ 194.283055    798.20916667 1398.53333333 1998.8575     2599.18166667
 3199.50583333 3799.83      ]

In [3]:
cats, bins = pd.cut(df.Slope, 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Slope,bins=bins,labels=classes, ordered=False)
df=df.drop(['Slope'], axis=1)
df.insert(1,'Slope',category)
print(df["Slope"].value_counts())
print(bins)

1    3508
2     229
3      21
4       3
6       1
5       0
Name: Slope, dtype: int64
[ -0.728939   121.48983333 242.97966667 364.4695     485.95933333
 607.44916667 728.939     ]

In [4]:
#cats, bins = pd.cut(df.Aspect, 6, retbins=True)
#classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df.Aspect,bins=[-2,0,22.5,67.5,112.5,157.5,202.5,247.5,292.5,337.5,360+1],labels=[8,0,1,2,3,4,5,6,7,0], ordered=False)
df=df.drop(['Aspect'], axis=1)
df.insert(2,'Aspect',category)
print(df["Aspect"].value_counts())

2    514
4    490
3    487
6    481
1    471
7    463
0    421
5    421
8     14
Name: Aspect, dtype: int64

In [5]:
cats, bins = pd.cut(df['Plan Curvature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Plan Curvature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Plan Curvature'], axis=1)
df.insert(3,'Plan Curvature',category)
print(df["Plan Curvature"].value_counts())
print(bins)

3    3454
4     262
2      27
5       8
1       7
6       4
Name: Plan Curvature, dtype: int64
[-41.6194173 -26.81155   -12.092       2.62755    17.3471     32.06665
  46.7862   ]

In [6]:
cats, bins = pd.cut(df['Profile Curvature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Profile Curvature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Profile Curvature'], axis=1)
df.insert(4,'Profile Curvature',category)
print(df["Profile Curvature"].value_counts())
print(bins)

3    3644
2      90
4      18
1       8
5       1
6       1
Name: Profile Curvature, dtype: int64
[-61.35743    -34.45866667  -7.72033333  19.018       45.75633333
  72.49466667  99.233     ]

In [7]:
cats, bins = pd.cut(df['Topographic Wetness Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Topographic Wetness Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Topographic Wetness Index'], axis=1)
df.insert(5,'Topographic Wetness Index',category)
print(df["Topographic Wetness Index"].value_counts())
print(bins)

3    1806
2    1329
4     372
1     160
5      78
6      17
Name: Topographic Wetness Index, dtype: int64
[-0.38968175  2.0137775   4.402902    6.7920265   9.181151   11.5702755
 13.9594    ]

In [8]:
cats, bins = pd.cut(df['Terrain Roughness Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Terrain Roughness Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Terrain Roughness Index'], axis=1)
df.insert(6,'Terrain Roughness Index',category)
print(df["Terrain Roughness Index"].value_counts())
print(bins)

4    3435
3     199
5      89
1      15
2      12
6      12
Name: Terrain Roughness Index, dtype: int64
[-0.00087743  0.1462375   0.292475    0.4387125   0.58495     0.7311875
  0.877425  ]

In [9]:
cats, bins = pd.cut(df['Topographic Position Index'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Topographic Position Index'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Topographic Position Index'], axis=1)
df.insert(7,'Topographic Position Index',category)
print(df["Topographic Position Index"].value_counts())
print(bins)

4    3588
3     148
5      17
2       4
6       4
1       1
Name: Topographic Position Index, dtype: int64
[-9.2607064  -6.44283333 -3.64176667 -0.8407      1.96036667  4.76143333
  7.5625    ]

In [10]:
cats, bins = pd.cut(df['Proximity to Road'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Proximity to Road'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Proximity to Road'], axis=1)
df.insert(8,'Proximity to Road',category)
print(df["Proximity to Road"].value_counts())
print(bins)

1    2436
2     792
3     348
4     132
5      43
6      11
Name: Proximity to Road, dtype: int64
[  -2.37023     395.03833333  790.07666667 1185.115      1580.15333333
 1975.19166667 2370.23      ]

In [11]:
cats, bins = pd.cut(df['Proximity to Stream'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Proximity to Stream'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Proximity to Stream'], axis=1)
df.insert(9,'Proximity to Stream',category)
print(df["Proximity to Stream"].value_counts())
print(bins)

1    3265
2     424
3      49
4       9
5       8
6       7
Name: Proximity to Stream, dtype: int64
[  -3.02853  504.755   1009.51    1514.265   2019.02    2523.775
 3028.53   ]

In [12]:
cats, bins = pd.cut(df['Avarage Wind Speed'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Avarage Wind Speed'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Avarage Wind Speed'], axis=1)
df.insert(10,'Average Wind Speed',category)
print(df["Average Wind Speed"].value_counts())
print(bins)

2    1274
3    1270
1     683
4     455
5      65
6      15
Name: Average Wind Speed, dtype: int64
[1.40314666 2.27222    3.13611    4.         4.86389    5.72778
 6.59167   ]

In [13]:
cats, bins = pd.cut(df['Average Min Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Average Min Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Average Min Temperature'], axis=1)
df.insert(11,'Average Min Temperature',category)
print(df["Average Min Temperature"].value_counts())
print(bins)

3    1516
2    1239
4     455
5     232
6     228
1      92
Name: Average Min Temperature, dtype: int64
[-10.46771667  -7.49722167  -4.54444333  -1.591665     1.36111333
   4.31389167   7.26667   ]

In [14]:
cats, bins = pd.cut(df['Average Max Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Average Max Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Average Max Temperature'], axis=1)
df.insert(12,'Average Max Temperature',category)
print(df["Average Max Temperature"].value_counts())
print(bins)

3    1295
4     985
2     648
5     451
6     330
1      53
Name: Average Max Temperature, dtype: int64
[-6.6481417 -2.76805    1.0889     4.94585    8.8028    12.65975
 16.5167   ]

In [15]:
cats, bins = pd.cut(df['Avarage Solar Radiation'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Avarage Solar Radiation'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Avarage Solar Radiation'], axis=1)
df.insert(13,'Average Solar Radiation',category)
print(df["Average Solar Radiation"].value_counts())
print(bins)

4    1521
3     974
5     580
2     358
1     285
6      44
Name: Average Solar Radiation, dtype: int64
[1236.807      1269.16666667 1301.33333333 1333.5        1365.66666667
 1397.83333333 1430.        ]

In [16]:
cats, bins = pd.cut(df['Annual Precipitation'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Annual Precipitation'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Annual Precipitation'], axis=1)
df.insert(14,'Annual Precipitation',category)
print(df["Annual Precipitation"].value_counts())
print(bins)

2    1289
3    1096
1     568
4     452
5     251
6     106
Name: Annual Precipitation, dtype: int64
[ 375.722  590.     803.    1016.    1229.    1442.    1655.   ]

In [17]:
cats, bins = pd.cut(df['Annual Mean Temperature'], 6, retbins=True)
classes = [1, 2, 3, 4, 5, 6]
category = pd.cut(df['Annual Mean Temperature'],bins=bins,labels=classes, ordered=False)
df=df.drop(['Annual Mean Temperature'], axis=1)
df.insert(15,'Annual Mean Temperature',category)
print(df["Annual Mean Temperature"].value_counts())
print(bins)

3    1499
2     839
4     783
5     307
6     277
1      57
Name: Annual Mean Temperature, dtype: int64
[-8.557925   -5.13333333 -1.72916667  1.675       5.07916667  8.48333333
 11.8875    ]

In [18]:
df.head()

,Elevation,Slope,Aspect,Plan Curvature,Profile Curvature,Topographic Wetness Index,Terrain Roughness Index,Topographic Position Index,Proximity to Road,Proximity to Stream,Average Wind Speed,Average Min Temperature,Average Max Temperature,Average Solar Radiation,Annual Precipitation,Annual Mean Temperature,Lithology,Land Use
0,1,1,3,3,3,3,6,4,1,1,1,6,6,1,3,6,4,1
1,5,1,1,3,3,4,4,4,1,2,4,2,2,5,3,2,2,4
2,4,1,1,3,3,2,4,4,1,1,3,2,3,4,2,3,3,4
3,3,1,0,3,3,4,4,4,1,2,1,4,5,3,1,4,3,2
4,5,2,7,4,3,1,3,4,2,1,3,2,3,4,3,3,3,4

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3762 entries, 0 to 3761
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Elevation                   3762 non-null   category
 1   Slope                       3762 non-null   category
 2   Aspect                      3762 non-null   category
 3   Plan Curvature              3762 non-null   category
 4   Profile Curvature           3762 non-null   category
 5   Topographic Wetness Index   3762 non-null   category
 6   Terrain Roughness Index     3762 non-null   category
 7   Topographic Position Index  3762 non-null   category
 8   Proximity to Road           3762 non-null   category
 9   Proximity to Stream         3762 non-null   category
 10  Average Wind Speed          3762 non-null   category
 11  Average Min Temperature     3762 non-null   category
 12  Average Max Temperature     3762 non-null   category
 13  Average Solar Radiation     3762 non-null   category
 14  Annual Precipitation        3762 non-null   category
 15  Annual Mean Temperature     3762 non-null   category
 16  Lithology                   3762 non-null   int64
 17  Land Use                    3762 non-null   int64
dtypes: category(16), int64(2)
memory usage: 121.3 KB

In [20]:
file_name = 'avalanche_discrete.xlsx'
df.to_excel(file_name)